<h2> Employee List</h2>
<table class="table table-striped"> 
    <thead>
        <tr>
            <th> First Name </th>
            <th> last Name </th>
            <th> Eail Id </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let emp of employees">
            <td> {{ emp.firstName }} </td>
            <td> {{ emp.lastName }} </td>
            <td> {{ emp.emailId }} </td>
            <td> 
                <button (click) = "updateEmployee(emp.id)" class="btn btn-info"> Update </button>
                <button (click) = "deleteEmployee(emp.id)" class="btn btn-danger" style="margin-left: 10px;"> Delete </button>
                <button (click) = "viewEmployee(emp.id)" class="btn btn-info" style="margin-left: 10px;"> View </button>
            </td>
        </tr>
    </tbody>
</table>
