<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ANgular + JWT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/home"
                    *ngIf = "!isLoggedIn()">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/register"
                    *ngIf = "!isLoggedIn()">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/admin"
                    *ngIf = "showAdminDashboard()">Admin Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/user"
                    *ngIf = "showUserDashboard()">User Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/user-profile"
                    *ngIf = "showUserDashboard()">Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/view-users"
                    *ngIf = "showAdminDashboard()">View User</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/locked-users"
                    *ngIf = "showAdminDashboard()">Locked User</a>
                </li>

            </ul>
            <button type="button" class="btn btn-success" routerLink="/login"
            *ngIf = "!isLoggedIn()"> Login </button>
            <button type="button" class="btn btn-danger" *ngIf = "isLoggedIn()"
            (click) = "logout()"> Logout </button>
        </div>
    </div>
</nav>